[submodule "src/lib/dataset"]
	path = src/lib/dataset
	url = https://github.com/TWeber132/thesis-dataset.git
[submodule "src/lib/agents"]
	path = src/lib/agents
	url = https://github.com/TWeber132/agents.git
