.idea/
src/outputs/
*.pyc
paper.md
run_dev_local.sh
run_jupyter_local.sh
*.ipynb_checkpoints/
outputs/
__pycache__/
dependencies/manipulation_tasks/build/
dependencies/manipulation_tasks/manipulation_tasks.egg-info/

